@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
}
.bg{
	background-color: #bacecfd2;
	
}
.slide{
	height: 100%;
	width: 180px;
	background: #fff;
	position: absolute;
	transform: translateX(-250px);
	transition: .5s ease;
}
.slide h1{
	color: rgb(160, 85, 38);
	font-weight: 800;
	text-align: right;
	padding: 10px 0;
	padding-right: 30px;
	pointer-events: none;
}
.side-nav li{
	list-style: none;
}
.side-nav li a{
	color: #50565f;
	font-weight: 500;
	/* display: block; */
	padding: 5px 0;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s ease-out;
}
.side-nav li:hover a{
	color: #fff;
	background: rgb(160, 85, 38);
    font-size:20px;
}
.side-nav li a i{
	width: 60px;
	padding: 5px;
	text-align: center;
}
/* toggle button */
input[type="checkbox"]{
	display: none;
	visibility: hidden;
	-webkit-appearance: none;
}
.toggle{
	position: absolute;
	height: 30px;
	width: 30px;
	top: 20px;
	left: 15px;
	z-index: 1;
	cursor: pointer;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.toggle .common{
	 position: absolute;
    height: 2px;
    width: 20px;
    background: rgb(160, 85, 38);
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
	 top: 30%;
	 left: 50%;
	 transform: translate(-50%,-50%);
}
.toggle .bottom_line{
	 top: 70%;
	 left: 50%;
	 transform: translate(-50%,-50%);
}
.toggle .middle_line{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
input[type="checkbox"]:checked ~ .slide{
	transform: translateX(0);
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
input[type="checkbox"]:checked ~ .toggle .top_line{
	transform: rotate(45deg);
	left: 2px;
	top: 14px;
	width: 25px;
}
input[type="checkbox"]:checked ~ .toggle .bottom_line{
	transform: rotate(-45deg);
	left: 2px;
	top: 14px;
	width: 25px;
}
input[type="checkbox"]:checked ~ .toggle .middle_line{
    transform: translateX(20px);
    opacity: 0;
}
.hide{
    display: none;
}
p.hide{
    font-size: 1.6rem;
}